@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  background-color: #000;
  color: #aaa;
  font-family: 'Press Start 2P', sans-serif !important;
  text-align: center;
}

#game canvas { margin:auto; border: 1px solid #aaa; }

a {
  color: #ffa;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

.phaser-inspector-panel { font-size: 0.75em; }
