body {
  background-color: #000;
  color: #aaa;
  font-family: sans-serif !important;
  text-align: center;
}

#game canvas { margin:auto; border: 1px solid #aaa; }

a {
  color: #ffa;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}
